.Grid{
    display: grid;
    grid-template-columns: 250px 5fr;
    gap: 15px;
    align-items: center;
    max-width: 400px;
}
.Form{
    text-align: center;
    padding: 20px;
    color: rgb(72, 3, 3);
}
.All form{
    padding: 100px;
    border: solid black 2px;
    margin: 100px 200px;
    width: 50%;
    height: 250px;
    background-color: rgb(151, 144, 144);
    margin: 100px auto;
    box-shadow: 0px 5px 5px 5px rgb(85, 75, 75);
}
h1{
    text-align: center;
    font-style:inherit;
    color: rgb(66, 130, 130);
}
p{
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
}
h2{
    color:rgb(225, 131, 131);
    font-style: italic;
    text-align: center;
    padding: 50px 0px 0px 0px;
}
body{
    background-image: url(https://cdn.tapetender70er.de/media/image/51/04/1e/790391-A_Coringa_5760x2880.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200vh;
    margin: 0;
}
 
table{
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 15px rgb(40, 31, 31);
}
th,td{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    color: rgb(59, 5, 5);
}
th{
    background-color: rgb(229, 238, 210);
}
#result{
    font-weight: bold;
    text-align: center;
    color: rgb(69, 40, 40)
}
#submit{
    text-align: center;
    font-weight: bold;
    color: black;
}
